form(method='GET' action='http://localhost:3000/auth/google')
    p.name Name:
        input(type='text' name='name')
    p.password Password:
        input(type='text' name='password')
    input(type='submit' value='Submit')
        