doctype html
html
    head
        title= name
        style
            include ./style.css
    body
        div.box
            h1.headline-kitty Hello Kity!
            img.tiger(src="img/tiger.jpg" alt="tiger")