doctype html
html
    head
        title= name
        style
            include ./style.css
    body
        div.container
            img(src='./google.png' alt='google logotype' width='640px' height='320px')
            h1.headline Login to Google
            p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum, neque at accumsan finibus, velit metus imperdiet enim, a eleifend quam orci ut sapien. Cras molestie ante elit, sit amet pharetra sem tristique nec. Praesent nisl ante, viverra quis luctus nec, consectetur eu quam. Proin laoreet suscipit varius. Ut scelerisque felis ut pellentesque posuere.
            include ./form.pug
